<div class="col-12">
    <div class="migalha-pR">
        <ul>
            <li><a href="#">Home</a></li>
            /
            <li>Gravidez</li>
        </ul>
    </div>
</div>
<div class="artigo-pR">
    <figure class="artigo-pR-imagem">
        <p><a href"http://www.bloggraodegente.com.br/mae-para-mae/inspiracoes-boas-historias/">Gravidez / Inspirações - Boas Histórias</a></p>
        <img src="../imagem/artigo.jpg" alt="Artigo" />
    </figure>
    <div class="artigo-pR-descricao">
        <div class="artigo-pR-desc">
            <h2>Bruno Gissoni e Yanna Lavigne posam com a filha</h2>
            <p>29. maio 2017</p>
            <p>Os pais Bruno Gissoni e Yanna Lavigne já estão babando com a pequena Madalena nos braços. A filha dos atores nasceu na madrugada da sexta-feira (26), na maternidade Perinatal, no Rio de Janeiro. A atriz,...</p>
        </div>
        <div class="artigo-pR-compart">
            <p>Compartilhe / 0 Comentarios</p>
        </div>
    </div>
</div>

<div class="artigo-pR">
    <figure class="artigo-pR-imagem">
        <p><a href"http://www.bloggraodegente.com.br/mae-para-mae/inspiracoes-boas-historias/">Gravidez / Inspirações - Boas Histórias</a></p>
        <img src="../imagem/artigo.jpg" alt="Artigo" />
    </figure>
    <div class="artigo-pR-descricao">
        <div class="artigo-pR-desc">
            <h2>Bruno Gissoni e Yanna Lavigne posam com a filha</h2>
            <p>29. maio 2017</p>
            <p>Os pais Bruno Gissoni e Yanna Lavigne já estão babando com a pequena Madalena nos braços. A filha dos atores nasceu na madrugada da sexta-feira (26), na maternidade Perinatal, no Rio de Janeiro. A atriz,...</p>
        </div>
        <div class="artigo-pR-compart">
            <p>Compartilhe / 0 Comentarios</p>
        </div>
    </div>
</div>

<div class="artigo-pR">
    <figure class="artigo-pR-imagem">
        <p><a href"http://www.bloggraodegente.com.br/mae-para-mae/inspiracoes-boas-historias/">Gravidez / Inspirações - Boas Histórias</a></p>
        <img src="../imagem/artigo.jpg" alt="Artigo" />
    </figure>
    <div class="artigo-pR-descricao">
        <div class="artigo-pR-desc">
            <h2>Bruno Gissoni e Yanna Lavigne posam com a filha</h2>
            <p>29. maio 2017</p>
            <p>Os pais Bruno Gissoni e Yanna Lavigne já estão babando com a pequena Madalena nos braços. A filha dos atores nasceu na madrugada da sexta-feira (26), na maternidade Perinatal, no Rio de Janeiro. A atriz,...</p>
        </div>
        <div class="artigo-pR-compart">
            <p>Compartilhe / 0 Comentarios</p>
        </div>
    </div>
</div>

<div class="artigo-pR">
    <figure class="artigo-pR-imagem">
        <p><a href"http://www.bloggraodegente.com.br/mae-para-mae/inspiracoes-boas-historias/">Gravidez / Inspirações - Boas Histórias</a></p>
        <img src="../imagem/artigo.jpg" alt="Artigo" />
    </figure>
    <div class="artigo-pR-descricao">
        <div class="artigo-pR-desc">
            <h2>Bruno Gissoni e Yanna Lavigne posam com a filha</h2>
            <p>29. maio 2017</p>
            <p>Os pais Bruno Gissoni e Yanna Lavigne já estão babando com a pequena Madalena nos braços. A filha dos atores nasceu na madrugada da sexta-feira (26), na maternidade Perinatal, no Rio de Janeiro. A atriz,...</p>
        </div>
        <div class="artigo-pR-compart">
            <p>Compartilhe / 0 Comentarios</p>
        </div>
    </div>
</div>

<div class="artigo-pR">
    <figure class="artigo-pR-imagem">
        <p><a href"http://www.bloggraodegente.com.br/mae-para-mae/inspiracoes-boas-historias/">Gravidez / Inspirações - Boas Histórias</a></p>
        <img src="../imagem/artigo.jpg" alt="Artigo" />
    </figure>
    <div class="artigo-pR-descricao">
        <div class="artigo-pR-desc">
            <h2>Bruno Gissoni e Yanna Lavigne posam com a filha</h2>
            <p>29. maio 2017</p>
            <p>Os pais Bruno Gissoni e Yanna Lavigne já estão babando com a pequena Madalena nos braços. A filha dos atores nasceu na madrugada da sexta-feira (26), na maternidade Perinatal, no Rio de Janeiro. A atriz,...</p>
        </div>
        <div class="artigo-pR-compart">
            <p>Compartilhe / 0 Comentarios</p>
        </div>
    </div>
</div>